body {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background-color: black;
  color: greenyellow;
}


#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  background-color:rgb(173, 255, 47);
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  }

  #navbar li {
    display: inline-block;
    width: 6vw;
    }

  div {
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
  }

  h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 100px;
  }