html {
  background-color: black;
  font-family     : "Times New Roman", Times, serif;
  font-size       : 1.5em;
  color           : greenyellow;
}

.wrapper {
  display        : flex;
  justify-content: space-evenly;
  align-items    : flex-end;
  padding        : 0.5em 1em 0.5em 1em;
}

.text {
  margin     : 0;
  line-height: 0.55;
}

span {
  display: inline-block;
}

#B612 {
  font-family: 'B612 Mono', monospace;
}

#Cutive {
  font-family: 'Cutive Mono', monospace;
}

#Gruppo {
  font-family: 'Gruppo', cursive;
}
#Life {
  font-family: 'Life Savers', cursive;
}
#Oxygen {
  font-family: 'Oxygen Mono', monospace;
}
#PT {
  font-family: 'PT Mono', monospace;
}
#Press {
  font-family: 'Press Start 2P', cursive;
}
#Turret {
  font-family: 'Turret Road', cursive;
}







/* .stack {
  display: block;
} */

/*  Bouncing Animation */

@keyframes bounce {
  0%
  {
    transform: translateY(-10px);
  }
  20%
  {
    transform: translateY(0px);
  }
  30%
  {
    transform: translateY(-7px);
  }
  50%
  {
    transform: translateY(0px);
  }
  65%
  {
    transform: translateY(-5px);
  }
  75%
  {
    transform: translateY(0px);
  }
  85%
  {
    transform: translateY(-2px);
  }
  100%
  {
    transform: translateY(0px);
  }
}
.bouncing {
  animation                : bounce linear 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  /* animation-timing-function:cubic-bezier(1, 0.75, 0.5, 0); */
  /* animation-duration: 3s; */
}


body {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  color: greenyellow;
  background: #111111;
  text-align: center;
  padding: 100px;
}

.loading 
  
  .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.1s;
  }

  .two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
  }

  .three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
  }
  


@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}