#Elementary {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background-color: black;
  color: greenyellow;
};

#Elementary select {
  width: 200px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: greenyellow;
  background-color: black;

};

.radio {
 display: block;
}
